{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky Confirm your account {% endblock  %}
{% block page_content %}
    <div class="page-header">
        <h1>Hello, {{ current_user.username }}!
        <h3>You have not confirmed your account</h3>
        <p>
            Before you can acces this site you need to confirm this account.
            Check your inbox you should have received an email with confirmation link.
        </p>
        <p>
            Need another confirmation email?
            <a href= "{{ url_for('auth.resend_confirmation')}}">Click here</a>
        </p>
    </div>
{% endblock %}